// COLORS :
// primary
$desaturated_red: hsl(0, 36%, 70%);
$soft_red: hsl(0, 93%, 68%);

// neutral
$dark_grayish_red: hsl(0, 6%, 24%);

//gradients
$gradient1: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));

//BREAKPOINTS :
$breakpoint-phone: 300px;
$breakpoint-tablet:768px;
$breakpoint-computer: 1440px;